*{
    margin: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
}
a{
    text-decoration: none;
}
.align{
    padding: 10px;
    width:15%;
    margin: auto;
}
.center{
    text-align: center;
}
